//TODO remove
  $color-brand: #00AD7D;
  $color-brand-variation: #0CB377;
  $color-base: #2F363B;
  $color-base-light: rgba($color-base, .75);//#546068;
  $color-muted: rgba($color-base, 0.6);
  $color-outline: #EAEEF3;
  $color-back: #F2F3F6;
  $white: #ffffff;
  $color-red: #FF3366;
  $color-yellow: #FFB400;

:root {
  // Colors
  --color-brand:           #00AD7D;
  --color-brand-variation: #0CB377;
  --color-red:             #FF3366;
  --color-yellow:          #FFB400;

  // Gray
  --color-base:            #2F363B;
  --color-outline:         #EAEEF3;
  --color-back:            #F2F3F6;
}