// Components
//
// Define common padding and border radius sizes and more.

:root {
  --border-width:     1px;
  --border-color:     var(--color-outline) !default;

  --border-radius-sm: 2px;
  --border-radius-md: 5px;
  --border-radius-lg: 13px;
}

$box-shadow-sm:               0 .125rem .25rem rgba(var(--color-outline), .075) !default;
$box-shadow:                  0 .5rem 1rem rgba(var(--color-outline), .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba(var(--color-outline), .175) !default;


$caret-width:                 1px !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;


$section-padding-v:    calc(5vh + (5 * (1vw - 2px)));
$section-padding-v-sm: calc(2.5vh + (2.3 * (1vw - 2px)));
$section-padding-v-xs: calc(2vh + (1.5 * (1vw - 2px)));

$padding-h:            calc(3.2vw + .2rem);


$s1: .4rem;
$s2: .2rem;
$s3:  1rem;
$s4:  1.5rem;
$s5:  2rem;