.events-date {
  @include for-tablet-portrait-up {
    padding-bottom: .8em;
    margin-bottom: .2em;
    border-bottom: solid 1px $color-outline;
  }

  &:first-of-type {
    @include for-tablet-portrait-up {
      margin-bottom: -1.6rem;
    }
  }
}

.events-table {
  margin: 0;
  margin-bottom: 5vh;
  padding: 0;
}

.events-table--area-date         {
  grid-area: time;
  font-weight: bold;
}
.events-table--area-title        {
  grid-area: title;
  display: flex;
}
.events-table--area-departure    {
  grid-area: departure;
  @include for-tablet-portrait-up {border-bottom: solid 1px $color-outline;}

  @include for-phone-only {
    div { display: inline-block; }
  }
}
.events-table--area-activity     {
  grid-area: activity;
  @include for-tablet-portrait-up {border-bottom: solid 1px $color-outline;}
  @include for-phone-only {
    padding-top:    .7rem;
    padding-bottom: .7rem;
  }
}
.events-table--area-people {
  grid-area: people;
  // font-size: .9em;
  @include for-tablet-portrait-up {
    border-bottom: solid 1px $color-outline;
    text-align: right;

    span {
      display: block;
    }
  }
}

.events-table--grid {
  display: grid;

  @include for-desktop-up {
    grid-template-columns: 4.3rem 2.5fr 1.4fr 2fr 1fr;
    grid-template-areas: "time title departure activity people";
  }

  @include for-desktop-down {
    grid-template-columns: 3.4rem 2.5fr 1.4fr 2fr .8fr;
    grid-template-areas: "time title departure activity people";
  }

  @include for-phone-only {
    grid-template-columns: 3.4rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "time title"
            "time departure"
            "time activity"
            "time people";
  }
}


.events-table-head {
  @extend .events-table--grid;
  color: $color-base-light;
  font-size: 0.8em;
  div {
    padding-bottom: .5rem;
    border-bottom:0;
  }

  @include for-phone-only {display: none;}

}

.events-table--row {
  @extend .events-table--grid;
  line-height: 1.2em;
  margin-top: 1rem;
  position: relative;

  @include for-phone-only {
    border-top: $border;
    padding-top: 1rem;
    &:last-of-type {
      border-bottom: $border;
      padding-bottom: 1rem;
    }
  }

  div:not(:last-of-type) { padding-right: .5rem; }

  @include for-desktop-up { font-size: .9em;}
  @include for-big-desktop-up { font-size: 1em;}
  @include for-desktop-down { font-size: 0.95em;}

  &:hover,
  &:focus,
  &:active {
    div {border-bottom-color: transparent;}
  }
}

.events-table--row-link {
  display: block;
  position: absolute;
  left:   -1rem;
  right:  -1rem;
  top:    -.5rem ;
  bottom: -.5rem ;
  z-index: 2;
  border-radius: $border-radius;

  &:hover,
  &:focus,
  &:active {
    background: rgba($color-base, .05 );
  }

  @include for-tablet-portrait-down {
    left:   -.8rem;
    right:  -.8rem;
    top: 0;
    bottom: -1rem;
  }
}

.events-table--duration {
  @extend .text-secondary;
  font-weight: normal;
}

.events-table--cover {
  display: none; //hide cover for small devices

  @include for-tablet-landscape-up {
    display: block;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background: $color-back;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-right: .7rem;
  }
}

.events-table--title {
  margin: 0;
  font-size: 1rem;
}

.events-table--organiser {
  @extend .text-secondary;
  @include for-phone-only { display: none; }
}

.events-table--transport {
  @extend .text-secondary;
}
.events-table--activity-name {
  margin-bottom: .2em;
  @include for-phone-only {
    font-weight: bold;
  }
}
.events-table--activity-specs {
  @extend .text-secondary;
}

.events-table--availability-have-places {
  white-space: nowrap;
  color: $color-brand;
}

.events-table--availability-full {
  white-space: nowrap;
  color: $color-muted;
}

.events-table--availability-default {
  white-space: nowrap;
  color: $color-base;
}

.events-table--availability-waiting {
  white-space: nowrap;
  color: $color-muted;
  font-style: italic;
}

.phone-only {
  @extend .text-secondary;
  @include for-tablet-landscape-up {
    display: none;
  }
}
