.events-grid {
  display: grid;

  grid-template-columns:  auto minmax(20%, 24rem);
  grid-template-rows: 1fr;
  grid-template-areas:
          "nav            my-events"
          "events-section my-events"
          "footer         my-events";


  @include for-tablet-landscape-down {

    grid-template-columns:  auto;
    grid-template-areas:
            "nav           "
            "events-section"
            "footer        ";
  }
}

// name sections for grid

.header-full {
  grid-area: nav;
}

.my-events {
  grid-area: my-events;
}

.events-section {
  grid-area: events-section;

  @extend .section;
}

.footer {
  grid-area: footer;
}
