.events-nav {
  margin-top: 2vh;
  margin-bottom: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.events-tabs {
  display: flex;
  align-items: flex-end;
}

.events-nav--link {
  color: $color-base-light;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;

  border-bottom: 1px solid  transparent;
  margin: 0 16px -1px 0;

  padding-bottom: .6rem;
  white-space: nowrap;

  @include for-phone-only {
    padding-bottom: .8rem;
    font-size: .8em;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: var(--color-brand);
    border-bottom-color: var(--color-brand);
  }
}

.events-search {
  flex-grow: 1;
  @include for-tablet-portrait-up {
    justify-content: flex-end;
    text-align: right;
  }
  @include for-phone-only {
    margin-top: .8rem;
    width: 100%;
   // display: none;
  }
}

.events-nav--link--my-events {
  @include for-tablet-landscape-up { display: none; }
}

.events-search-input {
  @extend .form;
  @extend .form-sm;
  width: inherit;
}