.footer {
  position: absolute;
//  position: fixed;
  bottom: 0;
  width: 100vw;
  border-bottom: $border;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  padding-top:    2rem;
  padding-bottom: 2rem;
  color: rgba($color-base,.7);
  font-size: .9rem;
  line-height: 1.4em;

  @include for-phone-only {
    flex-direction: column;
  }
}

.footer-list {
  display: inline-block;
  > * { padding-right: .6rem; }
}

.footer-link {
  color: rgba($color-base,.7);
  white-space: nowrap;
}

.footer--toggle {
  position: absolute;
  bottom: 0;
  right: 10vw;
  border-top-right-radius: var(--border-radius-md);
  border-top-left-radius: var(--border-radius-md);
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(36,36,37,0.15);
  padding: 10px 20px;
  font-size: 0.8rem;
  color: var(--color-base);
  text-decoration: none;
}


