.header--logo {
  margin-top: -2px;
  padding-right: 1rem;
  @include for-desktop-down  { display: none; }
}
.header--logo-mobile {
  display: none;
  @include for-desktop-down  { display: inherit; }
}