.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: $border;
  position: relative;
  flex-wrap: wrap;

  margin-top:     $section-padding-v-sm;

  @include for-phone-only {
    margin-top: 1rem;
    height: 6rem;
  }
 // padding-bottom: 16px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.header--nav {
  padding-top: 9px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;

  @include for-phone-only {
    position: absolute;
    left: 3vw;
    bottom: 0;
    max-width: calc(100vw - 2 * #{$padding-h});
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.header--link {
  color: var(--color-base);
  text-decoration: none;
  display: inline-block;

  border-bottom: 1px solid  transparent;
  margin: 0 16px -1px 0;

  padding-bottom: 24px;
  white-space: nowrap;

  @include for-phone-only {
    padding-bottom: .8rem;
    font-size: .8em;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-brand);
    border-bottom-color: var(--color-brand);
  }
}



.header--search {
@extend .form;
  height: 38px;
  min-width:  38px;
  padding: .5rem .7rem;

  background: var(--color-outline);
  border-radius: var(--border-radius-lg);

  &:before {
    //icon
  }
}

.header--profile {
  height: 38px;
  min-width:  38px;
  position: relative;
  display: inline-block;

  background: var(--color-outline);
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius-lg);

  margin-left: 4px;
}

.header--profile-no-photo {
  &:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f007";
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-muted;
    opacity: .3;
    height:     38px;
    min-width:  38px;
  }
}

.header-button {
  margin-left: 4px;

  @include for-phone-only {
    font-size: 0.8em !important;
    height: 2em !important;
    line-height: 2em !important;
  }
}

.header-full {
  @extend .header;
  margin-top: 3vh;
  @extend .section-breakpoints;

  padding-left:   $section-width-sides-desktop;
  padding-right:   $section-width-sides-desktop;

  border-bottom: 0;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: $section-width-sides-desktop;
    right: $section-width-sides-desktop;

    border-bottom: $border;
  }
}

.header-home .header--search {
  display: none;
}