.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: $border;
  position: relative;

  margin-top:     $section-padding-v-sm;

  @include for-phone-only {
    margin-top: 1rem;
    height: 6rem;
  }
 // padding-bottom: 16px;
}

.header--logo {
  padding-top: 11px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.header--nav {
  padding-top: 9px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;

  @include for-phone-only {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: calc(100vw - 2 * #{$padding-h});
  }
}

.header--link {
  color: var(--color-base);
  text-decoration: none;
  display: inline-block;

  border-bottom: 1px solid  transparent;
  margin: 0 16px -1px 0;

  padding-bottom: 24px;

  @include for-phone-only {
    padding-bottom: .8rem;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-brand);
    border-bottom-color: var(--color-brand);
  }
}



.header--search {

  height: 38px;
  min-width:  38px;

  background: var(--color-outline);
  border-radius: var(--border-radius-lg);

  &:before {
    //icon
  }
}

.header--profile {
  height: 38px;
  min-width:  38px;

  background: var(--color-outline);
  border-radius: var(--border-radius-lg);

  margin-left: 4px;
}

.header-button {
  margin-left: 4px;
}

.header-full {
  @extend .header;
  margin-top: 3vh;
  margin-right: $section-width-sides-desktop;
  margin-left: $section-width-sides-desktop;
}
