.home--hero {
  display: grid;
  min-height: 100vh;

  @include for-tablet-landscape-down {
   // grid-template-rows: 2fr 1fr;
  }

  @include for-tablet-landscape-up {
    grid-template-columns: 2fr 1fr;

  }
}

.home--hero--content-wrapper {
  display: flex;
  justify-content: flex-end; //pushes everything to the right
  padding-right: 3vw;
  padding-left:  3vw;
}

.home--hero--content {
  display: flex;
  flex-direction: column;
  max-width: 60rem; //limits the size of the container
  min-width: 50vw;
}

.home--hero--text {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @include for-tablet-landscape-down {
    min-height: 60vh;
  }
}
.home--hero--image-wrapper {
  display: flex;

  @include for-tablet-landscape-down {
    margin: $padding-h;
    display: none;
  }

  @include for-tablet-landscape-up {
    padding: 1rem 0;
  }

}

.home--hero--image {
  width: 100%;
  border-top-left-radius:    var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
  background-image: url("assets/images/photos/people-hiking.jpeg");
  background-size:  cover;
  background-position: 40%;

 // @include for-tablet-landscape-down {
 //   border-radius:    var(--border-radius-lg);
 // }
}

.home--hero--search {
  @extend .form;
  width:  520px;
  max-width: 90vw;
  margin-top: 2vh;
  background-color: $color-back;
}

.home--hero--carousel {
  @extend .carousel;

  @include for-tablet-landscape-up {
    margin-right: -10vw;
    margin-bottom: 2rem;
  }
}
