

.section-breakpoints {
  margin-left:           auto;
  margin-right:          auto;

  @include for-desktop-up {
    width: $section-width-desktop;
    max-width: $section-max-width-desktop;
  }

  @include for-tablet-portrait-down {
    width: $section-width-small;
  }
}

.section {
  @extend .section-breakpoints;
  padding:          $section-padding-v-sm  $section-width-sides-desktop;
  position:         relative;
}

.section--content {
  margin: auto;
  max-width: 60rem;
}

.section-back {
  background-color: $color-back;
  @extend .section;

  @include for-tablet-portrait-up {
    border-radius: var(--border-radius-md);
  }
}


.section--footer {
  border-bottom: $border;
  display: flex;
  justify-content: flex-end;
  margin-top: $section-padding-v-sm;
}

.section--footer--link {
  color: var(--color-brand);
  border-bottom: 1px solid  var(--color-brand);
  text-decoration: none;
  display: inline-block;
  font-weight: bold;

  margin: 0 0 -1px 16px;
  padding-bottom: 16px;

  &:hover,
  &:focus,
  &:active {
    color:               var(--color-brand-variation);
    border-bottom-color: var(--color-brand-variation);
  }
}