.events-nav {
  border-bottom: solid 1px $color-outline;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}


.events-date-dropdown {
  color: var(--color-base);
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 1rem;
  padding-right: 3rem;

  &:focus,
  &:hover {
    color: $color-brand;
  }

  @include for-phone-only {
    padding-bottom: .8rem;
  }
}

.events-date-dropdown-angle {
  fill: $color-base;
  position: relative;
  top: .1rem;
  left: .3rem;

  &:focus,
  &:hover {
    fill: $color-brand;
  }
}

.events-dropdown-content {
  @extend .dropdown-content;
  top: 2.8rem;
  border-top: solid 1px $color-brand;
  font-size: 1rem;
}

.events-dropdown--link {
  @extend .dropdown--link;
}

.events-pagination {
  display: flex;
  justify-content: flex-end;
}