.events-nav {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  @include for-tablet-portrait-up {
    border-bottom: solid 1px $color-outline;
  }

  @include for-phone-only {
    position: relative;
    .events-pagination {
      position: absolute;
      right: 0;
      top: calc(-4vh - 1.6rem);
    }
  }
}


.events-date-dropdown {
  color: var(--color-base);
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding-top: .5rem;
  padding-right: 3rem;

  @include for-tablet-portrait-up { padding-bottom: 1rem; }

  &:focus,
  &:hover {
    color: $color-brand;
  }
}

.events-date-dropdown-angle {
  fill: $color-base;
  position: relative;
  top: .1rem;
  left: .3rem;

  &:focus,
  &:hover {
    fill: $color-brand;
  }
}

.events-dropdown-content {
  @extend .dropdown-content;
  top: 2.8rem;
  border-top: solid 1px $color-brand;
  font-size: 1rem;
}

.events-dropdown--link {
  @extend .dropdown--link;
}

.events-pagination {
  display: flex;
  justify-content: flex-end;
}