.section {
  margin:           auto;
  padding:          $section-padding-v-sm 3vw;
  position:         relative;

  @include for-desktop-up {
    width: calc(100% - 6vw);
    max-width: 100rem;
  }

  @include for-tablet-portrait-down {
    width: 100vw;
  }
}

.section--content {
  margin: auto;
  max-width: 60rem;
}

.section-back {
  background-color: $color-back;
  @extend .section;

  @include for-tablet-portrait-up {
    border-radius: var(--border-radius-md);
  }
}

.dark-section {
  @extend .section-back;
  color: white;
  background-color: $color-base;
}


.section--footer {
  border-bottom: 1px solid var(--color-outline);
  display: flex;
  justify-content: flex-end;
  margin-top: $section-padding-v-sm;
}

.section--footer--link {
  color: var(--color-brand);
  border-bottom: 1px solid  var(--color-brand);
  text-decoration: none;
  display: inline-block;
  font-weight: bold;

  margin: 0 0 -1px 16px;
  padding-bottom: 16px;

  &:hover,
  &:focus,
  &:active {
    color:               var(--color-brand-variation);
    border-bottom-color: var(--color-brand-variation);
  }
}

.section-container {
  @extend .section;
  margin:           auto;
//  padding:          $padding-v 3vw;
  position:         relative;
}